<%= render 'shared/navbar' %>

<html>

<body>
<%if @article.title == "Speech Detection"%>
    <div class="words" contenteditable>
    </div>
    <script>
    window.SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;

    const recognition = new SpeechRecognition();
    recognition.interimResults = true;

    let p = document.createElement('p');
    const words = document.querySelector('.words');
    words.appendChild(p);

    recognition.addEventListener('result', e => {
        const transcript = Array.from(e.results)
        .map(result => result[0])
        .map(result => result.transcript)
        .join('')
        p.textContent = transcript;
        if(e.results[0].isFinal) {
        p = document.createElement('p');
        words.appendChild(p);
        }
    })
    recognition.addEventListener('end', recognition.start);
    recognition.start();
    </script>
    <style>
    html {
      font-size: 10px;
    }

    body {
      background: pink;
      font-family: 'helvetica neue';
      font-weight: 200;
      font-size: 20px;
    }

    .words {
      max-width: 500px;
      margin: 50px auto;
      background: white;
      border-radius: 5px;
      box-shadow: 10px 10px 0 rgba(0,0,0,0.1);
      padding: 1rem 2rem 1rem 5rem;
      background: white;
      background-size: 100% 3rem;
      position: relative;
      line-height: 3rem;
    }
    
    p {
      margin: 0 0 3rem;
    }

    .words:before {
      content: '';
      position: absolute;
      width: 4px;
      top: 0;
      left: 30px;
      bottom: 0;
      border: 1px solid;
      border-color: transparent #efe4e4;
    }
    </style>

    <div style="background:white; border-radius:8px;margin:50px;padding:25px; border:solid 1px;">
    <h4>The code for it is the following</h4>    
    <pre>
    <code>
    <h3>HTML</h3>
        <%=@article.HTML%>
        <h3>CSS</h3>
        <%=@article.CSS%>
        <h3>JS</h3>
        <%=@article.JS%>
    </pre>
    </code>
    </div>
<%end%>
</body>
</html>