
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="style-START.css">
</head>
<body>
<%= render 'shared/navbar' %>


  <div class="site-wrap">
    <div style="display:flex;">
      <%= cl_image_tag("https://res.cloudinary.com/dkrh5jxji/image/upload/ar_1:1,b_rgb:ffffff,bo_5px_solid_rgb:ffffff,c_fill,g_auto,r_max,w_1000/v1603016394/Portfolio/hom/Joseph_Larue_1_svom6z.jpg",
        width: 200, height: 200, crop: :fill) %>
      <span style="width:5rem;"></span>
      <div>
        <h4>Joseph Larue</h4>
        <h5>Business Student & junior Ruby Developer</h6>
      </div>
    </div>
    <p><strong>Qu'est-ce que ce site ?</strong></p>
    <p>Ce sit a pour objectif de montrer quelques codes que j'ai appris au Wagon ou par moi même ensuite.</p>
    <p>Il s'articule assez simplement.</p>
    <p>Vous trouverez dans "ARTICLES" des liens vers des composants que j'ai codé que ce soit des composant se basant sur du CSS, JS ou encore d'autres languages.</p>
    <p>Si cela vous plait, vous trouverez mon contact dans "CONTACT"</p>
    <p>J'ai fait en sorte que ce site soit assez ludique, il contient en effet quelques easter eggs que je vous laisse découvrir par vous même</p>
    <p>Bonne visite!</p>

    <div style="text-align:center; margin:100px;">
    <a class="fab fa-github-square" href="https://github.com/josephlarue"></a>
    <a class="fab fa-linkedin" href="https://www.linkedin.com/in/joseph-larue-b05b84136/"></a>
    </div>
  </div>



</body>
</html>
